body {
    background-color: rgb(187, 254, 232);
    color:rgb(254, 157, 31);
    font-family: 'Roboto Condensed';
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.page {
    display: flex;
    flex-direction: row;
    justify-content:start;
    align-items: center;
    gap: 30px;
}

.controls {
    width: 300px;
    border-radius: 4px;
    padding: 30px;
    border: 1px solid rgb(254, 157, 31);
}



button {
    border: 2px solid black;
    background-color: white;
    border-radius: 5px;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px
}

.black {
    border-color: black;
    color: black;
  }



.board {
    width: 500px;
    height: 500px;
    border: 1px solid rgb(254, 157, 31);
    border-radius: 5px;
    display: grid;
    background-color: white;
}


#footer {
    font-size: 14px;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: bisque;
}

.btn {
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
  }
  
  /* Black */
  .blk {
    border-color: #1b1b1b;
    color: black;
  }
  
  .blk:hover {
    background-color: #000000;
    color: white;
  }
  
  /* Blue */
  .rdm {
    border-color: #2196F3;
    color: dodgerblue
  }
  
  .rdm:hover {
    background: #2196F3;
    color: white;
  }
  
  /* Orange */
  .popup {
    border-color: #ff9800;
    color: orange;
  }
  
  .popup:hover {
    background: #ff9800;
    color: white;
  }
  
  /* Red */
  .reset {
    border-color: #f44336;
    color: red
  }
  
  .reset:hover {
    background: #f44336;
    color: white;
  }
  
